@model IEnumerable<ECOMMERCE_2023.Models.CATEGORIES>

@{
    ViewBag.Title = "Index";
}
<link href="~/src/css/Button.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category_name)
        </th>
        <th  colspan="3">
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category_name)
                <label></label>
            </td>
            <td>

                <div class="container" style="justify-content:flex-end" >
                    <div class="box-1" style="width: 80px; float: left;">
                        <div class="btn btn-one-delete" >
                            <a href="/Categories/Delete/@item.Category_id">Delete</a>
                        </div>
                    </div>

                    <div class="box-2" style="width: 80px; float: left">
                        <div class="btn btn-one-delete">
                            <a href="/Categories/Details/@item.Category_id">Details</a>
                        </div>
                    </div>
                    <div class="box-3" style="width: 80px; float: left">
                        <div class="btn btn-one-edit">
                            <a href="/Categories/Edit/@item.Category_id" class="button">Edit</a>
                        </div>
                    </div>
                </div>

                @*<a href="/Categories/Edit/@item.Category_id" class="btn btn-danger">Edit</a>
            @Html.ActionLink("Details", "Details", new { id = item.Category_id }) |
            @Html.ActionLink("Deleteaa", "Delete", new { id = item.Category_id })*@
            </td>
        </tr>
    }
</table>