@model IEnumerable<ECOMMERCE_2023.Models.ORDER_CART>

@{
    ViewBag.Title = "Ürünler";
}

<div class="jumbotron">
    <h1>ORDER CART</h1>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.Product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Custom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PRODUCT.Product_name)
            </td>
            <td>
                <form action="/Basket/BasketUpdate">
                    <input type="hidden" value="@item.Order_cart_id" name="id" id="id" />
                    <input type="number" name="adet" id="adet" value="@item.Custom" />
                    <input type="submit" id="gonder" value="Güncelle" />
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_amount)
            </td>
            <td>
                @*Basketcontroller delete action parametresini id olarak gönderiyoruz. iki parametre aynı olmak zorunda*@ 
                @Html.ActionLink("Delete", "BasketDelete", new { id = item.Order_cart_id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
    <tr>
            <td>
                <b>Toplam</b>
            </td>
            <td>
                <b>
                    @Model.Sum(x=>x.Custom)
                </b>
            </td>
            <td colspan="2" >
                <b>
                    @Model.Sum(x=>x.Total_amount) TL
                </b>
            </td>
    </tr>
    <tr>

        <td>
            <a href="/Home/Index" class="btn btn-info">Keep shoping</a>
        </td>
        <td style="text-align:right" colspan="3">
            <a href="/Order/OrderComplete" class="btn btn-success">Order Complete</a>
        </td>
    </tr>
</table>





































